@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap");
$font: "Livvic";

// primary
$midnight-green: #014e56;
$light-coral: #f67e7e;
$white: #fff;
// secondary
$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-jungle-green: #004047;
$sac-state-green: #012f34;
$dark-green: #002529;

@mixin btn {
	border: 0;
	padding: 0.75rem 2rem;
	border-radius: 24px;
	font-size: 1.125rem;
	font-weight: 600;
	font-family: $font;
	display: block;
	cursor: pointer;
}

@mixin line {
	width: 50px;
	height: 4px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;
	z-index: 2;
	position: relative;
}

.App {
	color: $white;
	font-family: $font;
}

/* mobile nav */
.mobile-nav {
	position: absolute;
	height: 100vh;
	background-color: $police-blue;
	color: white;
	right: 0;
	top: 0;
	bottom: 0;
	width: 66%;
	z-index: 5;
	padding: 7rem 3rem;
	box-shadow: 100px 0px 10px 1000px rgba(black, 0.6);
	overflow: hidden;
	.mobile-nav__close {
		@media (hover: hover) {
			&:hover {
				filter: invert(55%) sepia(14%) saturate(23) hue-rotate(-45deg)
					brightness(119%) contrast(86%);
			}
		}
	}

	.mobile-nav__close-container {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 3.5rem 1.5rem;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		font-size: 1.125rem;
		font-weight: 600;
	}
	a {
		text-decoration: none;
		color: white;
		@media (hover: hover) {
			&:hover {
				color: $light-coral;
			}
		}
	}
	button {
		@include btn;
		color: white;
		background-color: transparent;
		border: 2px solid white;
		margin-top: 2rem;
		@media (hover: hover) {
			&:hover {
				background-color: $white;
				color: $police-blue;
			}
		}
	}
}

.mobile-nav__bg {
	position: absolute;
	right: -100px;
	bottom: 0;
}

.hero {
	padding: 0 1.5rem;
	position: relative;
	padding-bottom: 12rem;
	background-color: $midnight-green;
}

.hero__bg-top {
	display: none;
}

.hero__bg-bottom {
	position: absolute;
	bottom: 0;
	right: 0.5rem;
}

header {
	padding: 3rem 1.5rem 0;
	background-color: $midnight-green;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
}

.header__nav {
	display: none;
}

.header__btn {
	color: white;
	display: none;
}

.logo {
	width: 128px;
}

.header__toggle-btn {
	z-index: 3;
}

.logo,
.header__toggle-btn {
	cursor: pointer;
}

h1 {
	font-size: 2.5rem;
	line-height: 1;
	text-align: center;
	padding-block: 5rem 1.125rem;
	span {
		color: $light-coral;
	}
}

h2 {
	color: white;
	font-size: 2rem;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 2rem;
}

.hero__p {
	line-height: 28px;
	text-align: center;
	font-weight: 500;
}

.features {
	padding: 4rem 1.5rem;
	background-color: $sac-state-green;
	overflow: hidden;
	position: relative;
	h2 {
		max-width: 12ch;
		padding-top: 2rem;
		line-height: 2rem;
		text-align: left;
	}
}

.pink-line {
	@include line;
	background-color: $light-coral;
}

.features__bg-img {
	position: absolute;
	right: -100px;
	top: 0;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 3.5rem;
	p {
		opacity: 0.8;
		font-weight: 400;
	}
}

.feature__name {
	font-weight: 600;
	color: $light-coral;
	font-size: 1.125rem;
	padding: 0.8rem 0;
}

.reviews {
	background-color: $deep-jungle-green;
	padding: 8.75rem 1.5rem 8.25rem;
	position: relative;
	text-align: center;
	h2 {
		max-width: 17ch;
		text-align: center;
		margin: 0 auto;
		line-height: 2rem;
		span {
			color: $rapture-blue;
		}
	}
	i {
		font-size: 13px;
	}
}

.reviews__bg-img-top {
	position: absolute;
	top: 0;
	left: 0;
}

.reviews__bg-img-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.review {
	position: relative;
}

.icon-quotes {
	position: relative;
	top: 1.5rem;
	z-index: 1;
}

.review__name {
	font-size: 1.125rem;
	font-weight: 700;
	color: $rapture-blue;
	padding-top: 1rem;
}

.review__photo {
	width: 62px;
	display: block;
	margin: 1rem auto 2rem;
	border-radius: 50%;
	border: 2px solid #dbf5f4;
}

.ready {
	background-color: $light-coral;
	padding: 4rem 1.5rem 83px;
	position: relative;
	overflow-y: hidden;
	h2 {
		max-width: 12ch;
		line-height: 2rem;
		text-align: center;
		margin: 0 auto;
		color: $sac-state-green;
	}

	button {
		@include btn;
		color: $sac-state-green;
		border: 2px solid $sac-state-green;
		background-color: transparent;
		margin: 1.5rem auto 0;
		@media (hover: hover) {
			&:hover {
				background-color: $sac-state-green;
				border-color: $sac-state-green;
				color: white;
			}
		}
	}
	.ready__bg {
		position: absolute;
		bottom: -1.25rem;
		left: -0.75rem;
	}
}

footer {
	background-color: $dark-green;
	padding: 4rem 0;
	font-size: 15px;
	ul {
		list-style-type: none;
	}
}

.footer__logo {
	width: 6rem;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.footer__links {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	padding-top: 1.5rem;
	font-weight: 500;
	a {
		text-decoration: none;
		color: white;
		@media (hover: hover) {
			&:hover {
				color: $light-coral;
			}
		}
	}
}

.footer__address {
	color: rgba(white, 0.5);
	font-weight: 600;
	text-align: center;
	line-height: 25px;
	padding-top: 1.5rem;
}

.footer__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding-top: 2.5rem;
	img {
		width: 1.5rem;
		cursor: pointer;
		@media (hover: hover) {
			&:hover {
				filter: invert(55%) sepia(14%) saturate(23) hue-rotate(-45deg)
					brightness(119%) contrast(86%);
			}
		}
	}
}

.footer__copyright {
	color: rgba(white, 0.5);
	text-align: center;
	padding-top: 1rem;
}

/* ABOUT */
.about {
	p {
		text-align: center;
	}
}

.about__line-and-p {
	.pink-line {
		display: none;
	}
}

.about__hero {
	background-color: $midnight-green;
	overflow: hidden;
	position: relative;
	padding: 0 1.5rem 6.75rem;
}

.about__hero-bg {
	position: absolute;
	right: -100px;
	bottom: -100px;
}

.about__directors {
	background-color: $deep-jungle-green;
	padding: 5.5rem 1.5rem 7.25rem;
	position: relative;
	overflow: hidden;
	h2 {
		text-align: center;
	}
}

.about__directors-bg-top {
	position: absolute;
	top: -100px;
	left: -100px;
}
.about__directors-bg-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.about__director-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.25rem;
	padding-top: 3rem;
}

.director {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $sac-state-green;
	width: 100%;
	padding: 2rem 1.5rem 3.5rem;
	position: relative;
	z-index: 3;
}

.director__photo {
	width: 96px;
	border-radius: 50%;
	border: 2px solid #dbf5f4;
}

.director__name {
	color: $rapture-blue;
	padding-top: 1rem;
	font-size: 1.125rem;
}

.director__cross,
.director__close {
	cursor: pointer;
	position: absolute;
	bottom: -28px;
	padding: 20px;
	border-radius: 50%;
}

.director__cross {
	background-color: $light-coral;
	@media (hover: hover) {
		&:hover {
			background-color: $rapture-blue;
		}
	}
}
.director__close {
	background-color: $rapture-blue;
}

.director__icons {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	padding-top: 1.5rem;
	& > * {
		@media (hover: hover) {
			&:hover {
				cursor: pointer;
				filter: invert(55%) sepia(14%) saturate(23) hue-rotate(-45deg)
					brightness(119%) contrast(86%);
			}
		}
	}
}

.director__quote {
	padding: 0 3rem;
}

.clients {
	background-color: $sac-state-green;
	padding: 5.5rem 1.5rem 4rem;
	position: relative;
	overflow: hidden;
	h2 {
		text-align: center;
	}
}

.clients__bg {
	position: absolute;
	top: -100px;
	left: -100px;
}

.clients__logos {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	gap: 1rem;
	padding-top: 4rem;
	img {
		transform: scale(0.5);
	}
}

/* contact */

.contact {
	background-color: $midnight-green;
	padding: 0 1.5rem 5rem;
	position: relative;
	overflow: hidden;
	h3 {
		color: $light-coral;
		padding-top: -0.25rem;
		line-height: 2rem;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding-top: 2.5rem;
	}
	li {
		display: flex;
		align-items: center;
		gap: 1.45rem;
	}
	.contact__icon {
		width: 72px;
	}
	.contact__bg-top {
		display: none;
	}
	.contact__bg-bottom {
		position: absolute;
		right: -100px;
		bottom: -100px;
	}
	p {
		font-size: 1.125rem;
	}
}

.contact form {
	padding-top: 3.5rem;
}

.contact input {
	background-color: $midnight-green;
	border: 0;
	font-size: 15px;
	border-bottom: 1px solid white;
	padding: 1.5rem 0.875rem 1rem;
	color: white;
	width: 100%;
	font-family: $font;
	&::placeholder {
		color: rgba(white, 0.8);
		font-family: $font;
		font-weight: 400;
	}
	&:required {
		box-shadow: none;
	}

	&:required:focus::placeholder {
		color: $light-coral;
	}
	&:required:focus:invalid {
		border-color: $light-coral;
		position: relative;
	}
}

.field-required {
	color: $light-coral;
	font-size: 0.75rem;
	font-weight: 600;
	padding: 0.5rem 0.9rem;
}

textarea:focus,
input:focus {
	outline: none;
}

.contact textarea {
	font-family: $font;
	color: white;
	background-color: $midnight-green;
	border: 0;
	border-bottom: 1px solid white;
	padding: 1.5rem 0.875rem 1rem;
	height: 107px;
	width: 100%;
	&::placeholder {
		color: rgba(white, 0.8);
		font-family: $font;
		font-weight: 400;
	}
}
.contact button {
	@include btn;
	color: $dark-green;
	background-color: white;
	border: 2px solid white;
	margin-top: 1.5rem;
	margin-right: auto;
	@media (hover: hover) {
		&:hover {
			border-color: $dark-green;
			background-color: $dark-green;
			color: white;
		}
	}
}

/* tablet */

@media screen and (min-width: 768px) {
	h1 {
		font-size: 4rem;
		padding: 7rem 1.5rem 1.5rem;
		line-height: 56px;
	}

	header {
		padding: 4rem 2.5rem 0;
		.logo-container {
			display: flex;
			align-items: center;
		}
	}
	.header__logo-and-nav {
		display: flex;
		align-items: center;
	}
	.hero__p {
		max-width: 450px;
		margin: 0 auto;
	}
	.hero__bg-bottom {
		right: 50%;
		transform: translateX(50%);
	}

	.header__toggle-btn {
		display: none;
	}

	.header__nav {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 2.5rem;
		list-style-type: none;
		margin-left: 3rem;
		font-size: 1.125rem;
		a {
			color: white;
			@media (hover: hover) {
				&:hover {
					color: $light-coral;
				}
			}
		}
	}
	.header__btn {
		display: block;
		margin-left: auto;
		@include btn;
		padding: 0.5rem 2rem;
		background-color: transparent;
		border: 2px solid white;
		font-weight: 500;
		font-size: 1.125rem;
		white-space: nowrap;
		color: white;
		@media (hover: hover) {
			&:hover {
				color: $midnight-green;

				background-color: #fff;
			}
		}
	}

	.features {
		padding: 100px;
		h2 {
			max-width: 500px;
		}
	}

	.feature-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-top: 4rem;
	}
	.feature {
		flex-direction: row;
		gap: 1.5rem;
		padding-top: 0;
		&:first-of-type {
			gap: 2rem;
		}
	}
	.feature__name-and-p {
		display: flex;
		flex-direction: column;
		align-items: start;
		text-align: left;
	}

	.reviews {
		padding: 100px 100px calc(100px - 2rem);
		h2 {
			max-width: 475px;
			padding-bottom: 2rem;
		}
	}

	.ready {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5.25rem;
		.ready__heading {
			color: $sac-state-green;
			max-width: none;
			margin: 0;
			padding: 0;
		}
		button {
			margin: 0;
		}
	}

	footer {
		padding: 3.5rem 2.5rem;
	}

	.footer__top-flex {
		display: flex;
		justify-content: space-between;
	}
	.footer__logo-and-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.footer__logo {
		margin: 0;
	}

	.footer__links {
		line-height: 25px;
	}

	.footer__address {
		padding-top: 0;
		text-align: right;
	}

	.footer__bottom-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 2rem;
	}

	.footer__icons,
	.footer__copyright {
		padding: 0;
	}

	.about {
		h1 {
			padding: 7rem 0 1.5rem;
			font-size: 4rem;
		}
		p {
			margin: 0 auto;
			max-width: 450px;
			line-height: 28px;
		}
		.about__hero-bg {
			bottom: 0;
		}
	}

	.about__directors {
		padding: 100px 100px 128px;
	}

	.about__directors-bg-top {
		top: 0;
	}

	.about__director-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4.75rem 0.75rem;
	}

	.director {
		height: 250px;
	}

	.director__quote {
		padding: 0;
	}

	.clients {
		padding: 100px 2.5rem;
	}
	.clients__bg {
		left: 0;
	}
	.clients__logos {
		flex-direction: row;
		gap: 4rem;
		margin: 0 auto;
		padding-top: 2rem;
		justify-content: space-between;
		max-width: 925px;
		img {
			display: block;
			width: 100%;
			max-width: 125px;
			transform: scale(1);
			flex: 1;
		}
	}

	.contact {
		padding: 7rem 8rem;
		h1 {
			padding: 0;
		}
		h3 {
			padding-top: 1.5rem;
		}
		form {
			padding-top: 2.5rem;
		}
		.contact__bg-top {
			display: block;
			position: absolute;
			left: -100px;
			top: 100px;
		}

		.contact__bg-bottom {
			bottom: 0;
		}
	}
}

/* desktop */
@media screen and (min-width: 1300px) {
	header {
		padding-left: 12%;
		padding-right: 12%;
	}
	.contact {
		padding-left: 12%;
		padding-right: 12%;
	}
	.hero__flex {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 1.5rem;
	}
	.hero {
		padding: 8rem 12% 250px;
		h1 {
			padding: 0;
			text-align: left;
			font-size: 6.25rem;
			line-height: 6.25rem;
		}
		.hero__p {
			text-align: left;
			font-size: 1.125rem;
			max-width: 425px;
		}
	}
	.hero__bg-top {
		display: block;
		position: absolute;
		top: 8rem;
		left: -100px;
	}
	.hero__bg-bottom {
		right: 10rem;
		transform: translateX(0);
	}

	.hero__line-and-p {
		display: flex;
		flex-direction: column;
		height: 200px;
	}
	.hero__line-container {
		margin-bottom: auto;
	}
	.hero__line {
		@include line;
		background-color: $white;
	}

	.features {
		display: flex;
		gap: 50px;
		padding: 12.375rem 12% 8.75rem;
		& > * {
			flex: 1;
		}
		h2 {
			font-size: 3rem;
			line-height: 3rem;
		}
		h2,
		.feature-container {
			padding-top: 0;
		}
	}

	.features__bg-img {
		top: unset;
		bottom: 0;
	}
	.pink-line {
		position: relative;
		bottom: 54px;
	}

	.feature__name-and-p {
		p {
			max-width: 420px;
		}
	}

	.reviews {
		padding: 8.75rem 12%;

		h2 {
			font-size: 3rem;
			line-height: 3rem;
			max-width: 932px;
		}
	}

	.review-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 1.5rem;
		.review__name {
			padding-top: 1.5rem;
		}
		p {
			max-width: 350px;
		}
		.review__photo {
			margin: 2rem auto 0;
		}
	}

	.ready {
		gap: 260px;
		.ready__heading {
			font-size: 3rem;
		}
	}

	footer {
		padding: 3rem 12%;
		display: flex;
		flex-direction: row;
		.footer__address {
			text-align: left;
		}
		.footer__top-flex {
			gap: 125px;
		}
		.footer__bottom-flex {
			flex-direction: column;
			margin-left: auto;
			padding-top: 0;
			align-items: flex-end;
			justify-content: space-between;
		}
	}

	.about__hero {
		padding: 10rem 12% 7.5rem;
	}
	.about__heading-and-p {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 187px;
		h1 {
			padding: 0;
			margin-top: -36px;
		}
	}

	.about__line-and-p {
		display: flex;
		flex-direction: column;
		.pink-line {
			display: block;
		}
		p {
			text-align: left;
			max-width: 700px;
			font-size: 1.125rem;
		}
	}

	.about__directors {
		padding: 8.75rem 12%;
	}
	.about__director-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 30px;
	}

	.clients__bg {
		position: absolute;
		top: 0;
		left: 0x;
	}

	.contact {
		padding: 7.75rem 12%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		& > * {
			flex-grow: 1;
		}
	}
	.contact__flex-left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.contact__flex-right {
		form {
			padding-top: 0;
			max-width: 542px;
		}
	}
}
